body {
background-color: #1564c0;
margin: inherit;
}

/*!!!!top!!!! */
.header {
  padding-top: 20px;
  height: .2em;

}

.topleft {
  display: inline;
  color: white;

}

.top-button {
  float: right;
  background-color: Transparent;
  color: white;
  padding: 10px;
  font-size: 13px;
  border: none;

}

/*!!!!center!!!!*/

.one {
  color: white;
  background-image: url("img/hero.jpg");
  text-align: center;
  height: 500px;
}


h1 {
  font-size: 60px;
  padding: 200px 200px 0px 200px;
  font-family: sans-serif;
}

.mid-button {
  background-color: #ff3f80;
  color: white;
  padding: 10px 20px;
  margin-bottom: 0px;
  }

  p {
    font-size: 13px;
    /* display: block; */
  }


.two {
    /* display: flex; */
    background-color: white;
    padding: 25px 25px;

  }

.features {
  background-color: white;
  display: flex;
}

.shopping {
  padding-left:50px;
  padding-right: 50px;
}

.delivery {
  padding-left: 50px;
  padding-right: 50px;
}

.deals {
  padding-left: 50px;
  padding-right: 50px;
}

 .shop {
    color: #ff3f80;
  }

  /*!!!!bottom!!!!*/

.nav-flex {
  display: flex;
  color: white;
}

.bottom-left {
  padding: 20px 50px;
}

.bottom-right {
  padding: 30px 0px 20px 1000px;
}


/*!!!!footer!!!!*/
  .copyright {
    background-color: #0d47a1;
    padding: 20px 40px;
    margin: 0px;
    color: white;
  }

  .bottom-btn {
    background-color: Transparent;
    color: white;
    padding: 0px;
    font-size: 13px;
    border: none;
  }
